#!/bin/sh
{{ if eq .chezmoi.osRelease.name "Ubuntu" -}}
sudo apt install git -y

curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo gpg --dearmor -o /usr/share/keyrings/githubcli-archive-keyring.gpg
echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null
sudo apt update
sudo apt install gh -y

sudo apt install ripgrep -y
sudo apt install jq -y
{{ else if eq .chezmoi.osRelease.id "rhel" -}}

# Add fedora epel repo
# 
sudo dnf install https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm
# Work around issue for RHEL 8.1
{{ if eq .chezmoi.osRelease.versionID "8.1" -}}
sudo sed -i 's/$releasever/8/g' /etc/yum.repos.d/epel*.repo
{{ end -}}

sudo dnf install git-all -y

sudo dnf config-manager --add-repo https://cli.github.com/packages/rpm/gh-cli.repo
sudo dnf install gh -y

sudo yum-config-manager --add-repo=https://copr.fedorainfracloud.org/coprs/carlwgeorge/ripgrep/repo/epel-7/carlwgeorge-ripgrep-epel-7.repo
sudo dnf install ripgrep -y
sudo dnf install jq -y
{{ else if eq .chezmoi.os "darwin" -}}
brew install git
brew install gh
brew install ripgrep
{{ end -}}

curl -s "https://get.sdkman.io" | bash

