#!/bin/sh
{{ if eq .chezmoi.osRelease.name "Ubuntu" -}}
sudo apt install zip unzip -y
sudo apt install git -y

curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo gpg --dearmor -o /usr/share/keyrings/githubcli-archive-keyring.gpg
echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null
sudo apt update
sudo apt install gh -y

sudo apt install ripgrep -y
sudo apt install jq -y
sudo apt install bash-completion -y
sudo apt install fzf -y

# Install bat

cd /tmp
wget https://github.com/sharkdp/bat/releases/download/v0.18.3/bat-v0.18.3-i686-unknown-linux-musl.tar.gz
tar zxvf bat-v0.18.3-i686-unknown-linux-musl.tar.gz
cd bat-v0.18.3-i686-unknown-linux-musl
cp bat ~/.local/bin
sudo cp autocomplete/bat.bash /usr/share/bash-completion/completions/bat
# TODO install man page

# Install packer

curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo apt-key add -
sudo apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com $(lsb_release -cs) main"
sudo apt-get update && sudo apt-get install packer

# Install powershell
sudo apt-get update
sudo apt-get install -y wget apt-transport-https software-properties-common
wget -q https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb
sudo dpkg -i packages-microsoft-prod.deb
sudo apt-get update
sudo apt-get install -y powershell

# Install fish

sudo apt-add-repository ppa:fish-shell/release-3
sudo apt-get update
sudo apt-get install fish

# change shell to fish

sudo chsh -s /usr/bin/fish zsolt

{{ else if eq .chezmoi.osRelease.id "rhel" -}}

# Add fedora epel repo
# 
sudo dnf install https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm
# Work around issue for RHEL 8.1
{{ if eq .chezmoi.osRelease.versionID "8.1" -}}
sudo sed -i 's/$releasever/8/g' /etc/yum.repos.d/epel*.repo
{{ end -}}

sudo dnf install git-all -y

sudo dnf config-manager --add-repo https://cli.github.com/packages/rpm/gh-cli.repo
sudo dnf install gh -y

sudo yum-config-manager --add-repo=https://copr.fedorainfracloud.org/coprs/carlwgeorge/ripgrep/repo/epel-7/carlwgeorge-ripgrep-epel-7.repo
sudo dnf install ripgrep -y
sudo dnf install jq -y
sudo dnf install bash-completion -y

# Install bat

cd /tmp
wget https://github.com/sharkdp/bat/releases/download/v0.18.3/bat-v0.18.3-i686-unknown-linux-musl.tar.gz
tar zxvf bat-v0.18.3-i686-unknown-linux-musl.tar.gz
cd bat-v0.18.3-i686-unknown-linux-musl
cp bat ~/.local/bin
sudo cp autocomplete/bat.bash /usr/share/bash-completion/completions/bat
# TODO install man page

# Install packer

sudo dnf install -y yum-utils
sudo yum-config-manager --add-repo https://rpm.releases.hashicorp.com/RHEL/hashicorp.repo
sudo dnf -y install packer

# Copy packer binary to home directory so it is at the front of the path and does not conflict with /usr/sbin/packer
if ! [[ -d ~/.local/bin ]]
then
    mkdir -p ~/.local/bin
fi

cp /usr/bin/packer ~/.local/bin/

# Install ansible

sudo dnf -y install ansible

# Install powershell

curl https://packages.microsoft.com/config/rhel/8/prod.repo | sudo tee /etc/yum.repos.d/microsoft.repo
sudo dnf -y install powershell

# Install fish

cd /etc/yum.repos.d/
sudo get https://download.opensuse.org/repositories/shells:fish:release:3/CentOS_8/shells:fish:release:3.repo
sudo dnf install fish

# change shell to fish

sudo chsh -s /usr/bin/fish zsolt
{{ else if eq .chezmoi.osRelease.id "fedora" -}}

sudo dnf install dnf-plugins-core -y

sudo dnf config-manager --add-repo https://cli.github.com/packages/rpm/gh-cli.repo
sudo dnf config-manager --add-repo https://rpm.releases.hashicorp.com/fedora/hashicorp.repo
curl https://packages.microsoft.com/config/rhel/8/prod.repo | sudo tee /etc/yum.repos.d/microsoft.repo
cd /etc/yum.repos.d/
sudo get https://download.opensuse.org/repositories/shells:fish:release:3/CentOS_8/shells:fish:release:3.repo
sudo dnf copr enable -y atim/starship
sudo dnf copr enable -y atim/zoxide
sudo dnf copr enable -y atim/lazygit

packages="git-all gh ripgrep jq bash-completion bat packer ansible powershell fish starship zoxide fzf neovim python3-neovim gcc gcc-c++ lazygit fd-find glibc-langpack-en make patch zlib-devel bzip2 bzip2-devel readline-devel sqlite sqlite-devel openssl-devel tk-devel libffi-devel xz-devel libuuid-devel gdbm-libs libnsl2 rclone"

sudo dnf install -y ${packages}

gh extension install github/gh-copilot --force

# atuin
cd /tmp
wget https://github.com/atuinsh/atuin/releases/download/v18.0.2/atuin-v18.0.2-x86_64-unknown-linux-musl.tar.gz
tar zxvf atuin-v18.0.2-x86_64-unknown-linux-musl.tar.gz
cd atuin-v18.0.2-x86_64-unknown-linux-musl
cp atuin ~/.local/bin
sudo cp completions/atuin.bash /usr/share/bash-completion/completions/atuin
cp completions/atuin.fish ~/.config/fish/completions/atuin.fish

# zellij
cd /tmp/
wget https://github.com/zellij-org/zellij/releases/download/v0.39.2/zellij-x86_64-unknown-linux-musl.tar.gz
tar zxvf zellij-x86_64-unknown-linux-musl.tar.gz
cp zellij ~/.local/bin/

# change shell to fish

sudo chsh -s /usr/bin/fish zsolt

{{ else if eq .chezmoi.os "darwin" -}}
brew install git
brew install gh
brew install ripgrep
brew install jq
brew install bash-completion

# Install packer

brew tap hashicorp/tap
brew install hashicorp/tap/packer
{{ end -}}

curl -s "https://get.sdkman.io" | bash

if ! [[ -d ~/.asdf ]]
then
  git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.14.0
fi


