#!/usr/bin/fish

#asdf plugin add cmake https://github.com/asdf-community/asdf-cmake.git
asdf plugin add java
asdf plugin add lazydocker  https://github.com/comdotlinux/asdf-lazydocker.git
asdf plugin add nodejs
asdf plugin add python
asdf plugin add rust
