#!/bin/sh
{{ if eq .chezmoi.osRelease.name "Ubuntu" -}}
# Install fish

export DEBIAN_FRONTEND=noninteractive

sudo apt-add-repository -y ppa:fish-shell/release-3
sudo apt-get -y update 
sudo apt-get -y install fish

# change shell to fish

sudo chsh -s /usr/bin/fish zsolt

{{ else if eq .chezmoi.osRelease.id "rhel" -}}
# Install fish

cd /etc/yum.repos.d/
sudo get https://download.opensuse.org/repositories/shells:fish:release:3/CentOS_8/shells:fish:release:3.repo
sudo dnf install fish

# change shell to fish

sudo chsh -s /usr/bin/fish zsolt

{{ else if eq .chezmoi.osRelease.id "fedora" -}}
sudo dnf install fish

# change shell to fish

sudo chsh -s /usr/bin/fish zsolt
{{ else if eq .chezmoi.os "darwin" -}}
# Install fish

brew istall fish

sudo chsh -s /usr/bin/fish zsolt
{{ end -}}
